{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load djangocodemirror_tags %}
{% load django_tables2 %}
{% block content %}

<div class="container">
    {% render_table table %}
    <iframe id="preview"></iframe>
    <div class="btn-group" role="group">
        <button id="save" class="btn btn-success">
            {% bootstrap_icon "save" %} Save page
        </button>
        <a class="btn btn-danger" href="/templates/userprofile">
            {% bootstrap_icon "log_out" %} Back to my profile
        </a>
    </div>
</div>

{% endblock %}