{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load djangocodemirror_tags %}
{% block content %}

<div class="container">
  <textarea id="code" name="code">{{ content }}</textarea>
  <iframe id="preview"></iframe>
  <div class="btn-group" role="group">
    <button id="save" class="btn btn-success">
      {% bootstrap_icon "save" %}
      Save template
    </button>
    <button class="btn btn-danger">
      {% bootstrap_icon "log_out" %}
      Back to my profile
    </button>
  </div>
</div>
{% codemirror_instance 'django' 'code_codemirror' 'code' %}
<script>
  var delay;

  code_codemirror.on("change", function () {
    clearTimeout(delay);
    delay = setTimeout(updatePreview, 300);
  });

  function updatePreview() {
    $.ajax({
      type: "POST",
      url: "/templates/temprender/",
      data: {
        "template": code_codemirror.getValue()
      },
      success: function (data) {
        //$("#preview").html(data);
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(/*code_codemirror.getValue()*/data);
        preview.close();
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }
    });
  }

  $("#save").on("click", function() {
    alert("Saving test...");
    $.ajax({
      type: "POST",
      url: "/templates/tempsave/",
      data: {
        "template": code_codemirror.getValue(),
        "name": "{{name}}"
      },
      success: function (data) {
        alert("Saved.");
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
      }
    });
  });

</script>
{% endblock %}