{% extends "base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block content %}

<div class="container">
  <p>
    Logged in as: <b>{{ username }}</b> (<i>{{ status }}</i>)
    <a href="/templates/logout/">Log out</a>
  </p>

  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a data-toggle="tab" href="#home">Home</a>
    </li>
    <li>
      <a data-toggle="tab" href="#profile">My profile</a>
    </li>
    <li>
      <a data-toggle="tab" href="#templates">My templates</a>
    </li>
    <li>
      <a data-toggle="tab" href="#pages">My pages</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Welcome, {{ username }}!</p>
    </div>
    <div id="profile" class="tab-pane fade">
      <h3>My profile</h3>
      <p>
        <b>{{ username }}</b>
        <br>
        <i>{{ status.title }}</i>
      </p>
    </div>
    <div id="templates" class="tab-pane fade">
      <h3>My templates</h3>
      <p>Work in progress</p>
      {% if templates %}
        {% for template in templates %}
          <p>
            <a href="/templates/tempeditor/?name={{ template.TEMPLATE_NAME }}">{{ template.TEMPLATE_NAME }}</a>
          </p>
        {% endfor %}
      {% else %}
      <div class="alert alert-warning" role="alert">
        Currently, you have no templates.
      </div>
      {% endif %}

      {% if user.is_staff %}
        <button type="button" class="btn btn-success"
         data-toggle="modal" data-target="#newtemplate">
          {% bootstrap_icon "plus" %} Create new
        </button>
      {% else %}
        <button type="button" class="btn btn-success disabled"
         data-toggle="tooltip" title="You don't have permissions to do so.">
          {% bootstrap_icon "plus" %} Create new
        </button>
      {% endif %}      
    </div>

    <div id="pages" class="tab-pane fade">
      <h3>My pages</h3>
      <p>Work in progress</p>
      {% if pages %}
        {% for page in pages %}
          <p>{{ page }}</p>
        {% endfor %}
      {% else %}
      <div class="alert alert-warning" role="alert">
        Currently, you have no pages.
      </div>
      <button type="button" class="btn btn-success"
       data-toggle="modal" data-target="#newpage">
        {% bootstrap_icon "plus" %} Create new
      </button>
      {% endif %}
    </div>

    <div id="newpage" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Page</h4>
          </div>
          <div class="modal-body">
            <p>Enter the name of your new page</p>
            <label for="pname">Name:</label>
            <input type="text" class="form-control" id="pname">
          </div>
          <div class="modal-footer">
            <button id="create-page" type="submit" class="btn btn-success" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="newtemplate" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Template</h4>
          </div>
          <div class="modal-body">
            <p>Enter the name of your new template</p>
            <form id="create-template-form" action="/templates/tempeditor/" method="POST">
              {% csrf_token %}
              <label for="tname">Name:</label>
              <input type="text" class="form-control" id="tname">
            </form>
          </div>
          <div class="modal-footer">
            <button id="create-template" type="submit" class="btn btn-success" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var csrfToken = getCsrfToken();

  $(document).ready( function() {
    $("#create-template-form").on("submit", function(e) {
         var link = $(this).attr("action");
         $.ajax({
             url: link,
             type: "POST",
             data: {
               "name": $("#tname").val(),
               "create_new": 1,
               "CSRF": csrfToken,
             },
             success: function(data) {
                 alert("Successfully submitted.");
                 $(":root").html(data);
             }
         });
         e.preventDefault();
    }); 

    $("#create-template").on("click", function() {
      $("#create-template-form").submit();
  });
 });
</script>

{% endblock %}
