<!DOCTYPE html>

{% load bootstrap3 %}
{% load static %}

<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'templates/style.css' %}" />
  <script>
    // needed to get the CSRF token
    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function getCsrfToken() {
      return getCookie("csrftoken");
    }
  </script>
</head>
<body>
    <h1>
      <a href="/templates">Quant</a>
    </h1>
    <h3>It's simpler than it seems to be.</h3>
    <p>test1 = {{ test1 }}</p>
    <p>test2 = {{ test2 }}</p>
    <p>test3 = {{ test3 }}</p>
    <p>test4 = {{ test4 }}</p>
    <p>test5 = {{ test5 }}</p>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Copyright &copy; 2017 trolley.813</p>
    {% endblock %}
</body>
</html>
