<!DOCTYPE html>

{% load bootstrap3 %}
{% load static %}

<body>
    <h1>
      <a href="/templates/pages/1-trolley.813/1-Home">Home</a>
      <a href="/templates/pages/1-trolley.813/2-About">About</a>
      <a href="/templates/pages/1-trolley.813/3-Links">Links</a>
    </h1>
    <h3> {{ header }} </h3>
    {% block content %}
    <p> {{ text }} </p>
    {% endblock %}
    <a href="{{ link }}"> {{ linktext }}</a>
    {% block footer %}
    <hr>
    <p>Copyright &copy; 2017 trolley.813</p>
    {% endblock %}
</body>
</html>