#login {
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-top: 15%;
}

#preview {
  width: 48%;
  float: right;
  height: 600px;
  border: 1px solid black;
}

.CodeMirror {
  width: 48%;
  float: left;
  height: 600px;
  border: 1px solid black;
}

#variables {
  width: 48%;
  float: left;
}

#centered {
  position: absolute;
  margin: auto;
}