#login {
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-top: 15%;
}

#preview {
  width: 45%;
  float: right;
  height: 80%;
}

#code {
  width: 45%;
  float: left;
  height: 80%;
}
